@model Thing

<h4>Thing's Data</h4>

<form asp-action="AddThing" method="post">

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" required />
    </div>
    
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Submit</button>
        <a asp-action="Things" class="btn btn-default">Cancel</a>
    </div>
</form>